<div class="row">
	<h3 class="center-align">Course Listing</h3>
</div>

<div class="row">
	<% @courses.each do |course| %>
  <div class="col s6 m6">
    <h4 class="header"><%= course.short_name %>:</h4>
    <h5 class="center-align"><%= course.name %></h5>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://picsum.photos/id/1/200/300">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= course.description.truncate_words(25) %></p>
        </div>
        <div class="card-action link-css center-align">
          <% if logged_in? && !(current_user.courses.include?(course)) %>
            <%= link_to "Enroll", course_enroll_path(course_id: course.id), method: :post %>
          <% end %>
          <%= link_to "Info", course_path(course) %>
        </div>
      </div>
    </div>
  </div>
	<% end %>
</div>

<% if logged_in? and current_user.admin? %>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
<% end %>
            
<div class="row center">
  <%= will_paginate @courses %>
</div>