<!DOCTYPE html>
<html>
  <head>
    <title>UnivApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background">
    <header>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/messages' %>
    </header>
  	<main>
	  	<div class="container main-css">
	    	<%= yield %>
			</div>
		</main>
		<%= render 'layouts/footer' %>
  </body>
</html>
